<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h2>Sign up</h2>
      {{#em-form model=model action="saveUser"}}
        {{em-input property="email" placeholder="email"}}
        {{em-input property="password" placeholder="password" type="password"}}
      {{/em-form}}
    </div>
  </div>
</div>
